.container {
    position: relative;
    display: flex;

    flex-direction: column;
    width: 100%;
    /* min-height: 80vh; */
    background-color: rgb(43, 62, 228);
    color: rgb(255, 255, 255);
    overflow: hidden;
}

.layerCompStyle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}