.container {
    width: 100%;
}

/* Features Wrapper Style */
.featuresWrapperStyle {
    width: 100%;
    height: 100%;
    display: flex;
}

.featureListWrapperStyle {
    width: 30%;
    height: 100%;
}

.featureListStyle {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
}

/* .Image style */
.featureImgStyle {
    width: 70%;
    background-color: rgb(183, 248, 234);
    border-radius: 1rem;
}

.featureImgStyle img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}