.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* Desp Style */
.despStyle {
    width: 40%;
}

.despTitleStyle {}

.despDetailStyle {}

/* Vide Manual Style */
.vidManualStyle {
    width: 60%;

}