.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* Desp Style */
.despStyle {
    position: relative;
    width: 40%;
}

.despTitleStyle {
    z-index: 1;
}

.despDetailStyle {}

/* Vide Manual Style */
.vidManualStyle {
    width: 60%;

}

.iconFlatStyle {
    position: absolute;
    top: 10%;
    left: 10%;

    opacity: 0.5;
    z-index: 0;
}