.container {
    width: 100%;
    min-height: 100vh;
}

/* downloadLayoutStyle */
.downloadLayoutStyle {
    width: 100%;

    display: flex;
    justify-content: space-around;
}

/* item style */
.itemContainerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 12rem;
    height: 20rem;
    background: linear-gradient(#16ecc9, #2f93f1);
    border-radius: 1rem;
    transition: all 0.2s ease;
}

.itemBtnWrapper {
    cursor: pointer;
    background-color: bisque;
    width: 60%;
    font-size: 1.2rem;
    border-radius: 1rem;
    font-weight: 600;
}

.itemContainerWrapper:hover {
    box-shadow: 2px 2px 5px rgb(135, 37, 248);
}

.itemBtnWrapper:hover {
    /* font-weight: 800; */
    color: rgb(250, 51, 44);
}

/* compareListWrapper */
.compareListWrapper {
    position: relative;
    left: 50%;
    top: 50%;
    height: 80%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 80%;
    gap: 1rem;
    flex-direction: column;
}

.propertyWrapper {
    display: flex;
    justify-content: space-between;
    align-items: space-between;

    background-color: white;
    /* padding: 0.5rem; */
}

.propertyTitleStyle {
    width: 20%;
    background-color: rgb(252, 122, 122);
    font-size: 1.4rem;

}

.propertyCheckStyle {
    width: 30%;
}

.checkWrapperStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    transition: all 0.1s ease-in;
    border-radius: 1rem;
    box-shadow: 1px 1px 3px lightcoral;
    background-color: rgb(42, 123, 245);
    color: white;
    font-size: 2rem;

}

.checkWrapperStyle:hover {
    color: rgb(16, 255, 8);
    font-weight: 600;
}